/* Beleren Bold */
@font-face {
    font-family: "Beleren";
    src:
      url("./fonts/Beleren2016-Bold.woff") format("woff"),
      url("./fonts/Beleren2016-Bold.ttf") format("truetype"),
      url("./fonts/Beleren2016-Bold.svg#Beleren2016-Bold") format("svg");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps Bold */
  @font-face {
    font-family: "Beleren SmallCaps";
    src:
      url("./fonts/Beleren2016SmallCaps-Bold.woff") format("woff"),
      url("./fonts/Beleren2016SmallCaps-Bold.ttf") format("truetype"),
      url("./fonts/Beleren2016SmallCaps-Bold.svg#Beleren2016SmallCaps-Bold") format("svg");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "Beleren SmallCaps";
    src:
      url("./fonts/Beleren2016SmallCaps-BoldItalic.woff") format("woff"),
      url("./fonts/Beleren2016SmallCaps-BoldItalic.ttf") format("truetype"),
      url("./fonts/Beleren2016SmallCaps-BoldItalic.svg#Beleren2016SmallCaps-BoldItalic") format("svg");
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "Beleren";
    src:
      url("./fonts/Beleren2016SmallCaps-BoldItalic.woff") format("woff"),
      url("./fonts/Beleren2016SmallCaps-BoldItalic.ttf") format("truetype"),
      url("./fonts/Beleren2016SmallCaps-BoldItalic.svg#Beleren2016SmallCaps-BoldItalic") format("svg");
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "M Plantin";
    src:
      url("./fonts/MPlantin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "M Plantin";
    src:
      url("./fonts/MPlantin-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "M Plantin";
    src:
      url("./fonts/MPlantin-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "Gotham Medium";
    src:
      url("./fonts/GothamMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
  
  /* Beleren SmallCaps BoldItalic */
  @font-face {
    font-family: "Gotham Medium";
    src:
      url("./fonts/Gotham Medium Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }